<div class="row">
	<div class="small-12 columns text-right">
		<h4><i class="fa fa-list"></i> Listar</h4>		
	</div>
</div>
<div class="list-container">	
	<div class="row" ng-repeat="role in roles">
		<a ui-sref="role.edit({id: role._id})">
			<div class="small-12 columns list-item">
				<div class="small-12 columns">
					<strong>{{role.name}}</strong>
				</div>
				<div class="small-12 columns">
			   		<span class="text-muted">{{role.description}}</span>
			   	</div>			   	
			        <!-- <a ng-click="delete(user)" class="trash"><span class="fa fa-trash text-right"></span></a> -->
			</div>
		</a>
	</div>
</div>