<div bg-swap="login-body" class="auth text-center">
  <div class="row">
    <div class="small-12 columns">
      <div class="auth-content">
          <img interchange="[assets/img/logo-small.png, (small)],
                  [assets/img/logo-medium.png, (medium)],
                  [assets/img/logo-medium.png, (large]"
          src="assets/img/logo-small.png">
          <h3>Bienvenido a su cuenta</h3>
        <div class="col-sm-12 auth-form">
          <form class="form" name="form" ng-submit="login(form)" novalidate>

            <div class="row collapse prefix-radius">
              <div class="small-2 columns">
                <span class="prefix"><i class="fa fa-envelope"></i></span>
              </div>
              <div class="small-10 columns">
                <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="correo electr&oacute;nico" required>
              </div>
            </div>

            <div class="row collapse prefix-radius">
              <div class="small-2 columns">
                <span class="prefix"><i class="fa fa-lock"></i></span>
              </div>
              <div class="small-10 columns">
                <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="contrase&ntilde;a" required>
              </div>
            </div>

            <div>
              <label class="error" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Ingrese su correo y contrase&ntilde;a
              </label>
              <label class="error" ng-show="form.email.$error.email && submitted">
                 Revise el formato del correo electr&oacute;nico
              </label>

              <label class="error">{{ errors.other }}</label>
            </div>
            <div class="row collapse">
              <div class="small-12">
                <button class="button expand radius" type="submit">
                  Login
                </button>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-12">
                <a class="right">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
              </div>
            </div>
          </form>
        </div> <!--.auth-form -->
        <div class="row">
          <div class="small-12 columns">
            <div class="auth-register">
              <a href="/registro">
                    Obtener una cuenta
              </a>
            </div>
          </div>
        </div>
      </div> <!--.auth-content -->
    </div><!--.small-12 columns-->
  </div><!--.row -->
</div><!--.auth -->