.left-off-canvas-menu{
	color:#fff;
}

.left-off-canvas-menu h2{
	color:#fff;
}

.navbar-modulus{
	padding-right: 0 !important;
}

.tabs{
	border-bottom:2px solid $primary-color;
}

dd.active a{
	min-width:161px;
}