<form class="form form-margin-top" name="form" ng-submit="save(form)" novalidate>
<div class="row">
	<div class="small-12 columns">
		<label for="txtName" class="list-foot-span form-margin-bottom">Nombre del Rol</label>
		<input type="text" id="txtName" name="txtName" ng-model="role.name" placeholder="e.g. Contabilidad, Secretaria" ng-class="{ 'error-border': submitted && form.txtName.$invalid }" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="txtDescripcion" class="list-foot-span form-margin-bottom">Descripci&oacute;n</label>
		<input type="text" id="txtDescripcion" name="txtDesc" ng-model="role.description" placeholder="propósito principal de este rol" ng-class="{ 'error-border': submitted && form.txtDesc.$invalid }" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns text-right button-margin-top">
		<button type="submit" class="button expand">Guardar</button>
	</div>
</div>
</form>