<form class="form" name="form" ng-submit="save(form)" novalidate>
<div class="row">
	<div class="small-12 columns text-right edit-color">
		<h4><i class="fa fa-pencil"></i> Editar</h4>		
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label class="form-margin-bottom list-foot-span" for="txtUsername">Correo Electr&oacute;nico</label>
		<input type="email" id="txtUsername" name="txtUsername" ng-model="user.email" placeholder="usuario@modulus.io" ng-class="{ 'error-border': submitted && form.txtUsername.$invalid }" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label class="form-margin-bottom list-foot-span" for="txtScreenName">Nombre Completo</label>
		<input type="text" id="txtScreenName" name="txtScreenName" ng-model="user.name" placeholder="su nombre dentro de Modulus" required ng-class="{ 'error-border': submitted && form.txtScreenName.$invalid }">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label class="form-margin-bottom list-foot-span" for="sltRoles">Rol en el Sistema</label>
		<select name="sltRoles" id="sltRoles" name="sltRoles" ng-model="user.role" required ng-class="{ 'error-border': submitted && form.sltRoles.$invalid }">
			<option value="">-- Seleccione Uno --</option>
			<option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="small-12 columns text-right button-margin-top {  
  margin-top: 30px !important;
}">
		<button type="submit" class="button expand">Guardar</button>
	</div>
</div>
</form>