<div class="list-container">	
	<div class="row" ng-repeat="user in users">
		<a ui-sref="user.edit({id: user._id})">
		<div class="small-12 columns">
			<div class="small-10 columns list-item">
				<div class="small-12 columns list-item-title">
					{{user.name}}
				</div>
				<div class="small-12 columns list-item-content">
			   		<span class="text-muted">{{user.email}}</span>
			   	</div>
			   	<div class="small-12 columns list-item-content">
			   		<span class="text-muted">Rol: {{user.role}}</span>
			   	</div>
			        <!-- <a ng-click="delete(user)" class="trash"><span class="fa fa-trash text-right"></span></a> -->
			</div>
			<div class="small-2 columns list-item">
			   	<div class="small-10 columns">
			   		<a class="trash"><span class="fa fa-angle-left fa-2x text-right"></span></a>
			   	</div>
			        <!-- <a ng-click="delete(user)" class="trash"><span class="fa fa-trash text-right"></span></a> -->
			</div>
		</div>
		<div class="small-12 columns sidemenu">
			<div class="small-6">
				<a ng-click="delete(user)" class="trash"><i class="fa fa-pencil text-right"></i></a>
			</div>
			<div class="small-6">
				<a ng-click="delete(user)" class="trash"><i class="fa fa-trash text-right"></i></a>
			</div>
		</div>
		
	</div>
</div>