<form class="form" name="form" ng-submit="save(form)" novalidate>
<div class="row">
	<div class="small-12 columns text-right">
		<h4><i class="fa fa-plus"></i> {{heading}}</h4>		
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="txtUsername">Correo Electr&oacute;nico</label>
		<input type="email" id="txtUsername" name="txtUsername" ng-model="user.email" placeholder="usuario@modulus.io" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="txtPassword">Contrase&ntilde;a</label>
		<input type="password" id="txtPassword" ng-model="user.password" placeholder="m&iacute;nimo 10 caract&eacute;res" required ng-minlength='10'>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="txtPasswordVerify">Repetir Contrase&ntilde;a</label>
		<input type="password" id="txtPasswordVerify" placeholder="vuelva a escribir su contrase&ntilde;a" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="txtScreenName">Nombre Completo</label>
		<input type="text" id="txtScreenName" ng-model="user.name" placeholder="su nombre dentro de Modulus" required>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label for="sltRoles">Rol en el Sistema</label>
		<select name="sltRoles" id="sltRoles" ng-model="user.role" required>
			<option value="">-- Seleccione Uno --</option>
			<option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="small-12 columns text-right">
		<button type="submit" class="button expand">Guardar</button>
	</div>
</div>
</form>