.navbar-title{
	font-family: 'MyLogoFont';
	font-size: 17px;
}

.left-off-canvas-menu{
	color:#fff;
}

.left-off-canvas-menu h2{
	color:#fff;
}

.navbar-modulus{
	padding-right: 0 !important;
	width: 100% !important;
}

.tabs{
	border-bottom:2px solid $primary-color;
}

dd.active a{
	min-width:161px;
}

.menu-panel{
	border-bottom:solid 1px #D2D1DC;
	padding:5%;
}

.data-panel{	
	padding:10%;
	/*border-bottom:solid 1px #12CCC3;*/
	background: #1bbc9b; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1bbc9b 0%, #5bd0b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1bbc9b), color-stop(100%,#5bd0b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #1bbc9b 0%,#5bd0b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #1bbc9b 0%,#5bd0b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #1bbc9b 0%,#5bd0b6 100%); /* IE10+ */
	background: linear-gradient(135deg,  #1bbc9b 0%,#5bd0b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bbc9b', endColorstr='#5bd0b6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.menu-container h5{
	color:$primary-color;
}

.menu-container h1,h2,h3,h4,h5,h6{
	margin-top:0px;
	margin-bottom:0px;
}

.menu-container i{
	color: #fff;
}

.menu-heading h3{
	color:white !important;	
	text-align: center;
}

.menu-heading i{
	padding-bottom:10%;
}

/*.menu-options{
	margin-top:3% !important;
	margin-bottom:10% !important;
}*/
	
.header-options {
	padding: 0 !important;
	margin-bottom: 20px;

	i, h4 {
		color: white;
	}
	h4 {
		font-family: MyHeaderOptsFont, sans-serif;
	}

	& > a > div {
		background: #1bbc9b;
		padding: 6%;
	}
}

.off-canvas-wrap .inner-wrap .tab-bar-section{
	width:100%;
	padding: 0 0;
}

.tabs dd > a{
	padding: 0.8rem 1.064rem;
}

.tabs-content{
	margin-bottom: 0px;
}

.tabs-content > .content {
	padding:0px;
}

.columns-no-lr-padding{
	padding-left:0;
	padding-right:0;
}

.menuIcon {
	float: left;
	color: white;
}

.search-icon {
	color: white;
	float: right;
}

.menu-link h3{
	color: white;
	margin: 20px 0;
	font-weight: 200;
}

accordion h3 {
	font-family: $body-font-family;
	font-size: 1rem !important;
}

.search-bar-wrapper {

	padding: 0 !important;
	float: left;
	
	.search-button {
		background: blue;
		padding: 4%;
		float: left;
		text-align: center;
		color: white;
		background: #52B3D9;
	}
	
	.search-input {
		float: right;

		input.search-bar {
			margin: 0;
			border: none;
			padding: 5%;
		}
	}

}