<nav class="tab-bar">
  <section class="tab-bar-section">
    <div class="row navbar-modulus">
      <div class="small-4 columns text-left">
        <a class="menuIcon" pageslide="left" ps-class="main-menu" ps-custom-top="55px" ps-auto-close="true" ps-speed="0.5" href="#mainMenu"><i class="fa fa-bars fa-lg"></i></a>
      </div>          
      <div class="small-4 columns">
        <span class="navbar-title">MODULUS</span>
      </div>      
      <div class="small-4 columns">
        <a class="search-icon" pageslide="right" ps-auto-close="true" ps-speed="0.5" ps-class="searchMenu" href="#searchMenu"><i class="fa fa-search fa-lg"></i></a>
      </div>          
    </div>
  </section>
  </nav>
<div id="mainMenu">            
  <div>
    <div class="small-12 columns text-right menu-panel">
      <a href="#" id="mainMenu-close">SALIR</a>
    </div>
    <accordion close-others="false">
      <accordion-group>
        <accordion-heading>
          <i class="fa fa-bars fa-lg"></i>
          <span>Modulos</span>
        </accordion-heading>
          <a ng-repeat="modulo in modulos" ui-sref="{{modulo.sref}}" class="menu-link" ng-show="modulo.active"><h3>{{modulo.modulo}}</h3></a> 
          <!-- <a ui-sref="cita.list" class="menu-link"><h3>Citas</h3></a> 
          <a ui-sref="expediente" class="menu-link"><h3>Expedientes</h3></a> -->
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <i class="fa fa-gear fa-lg"></i>
          <span>Configuraci&oacute;n</span>
        </accordion-heading>
          <a ui-sref="user.edit({id: currentUser._id})" class="menu-link"><h3>Su Cuenta</h3></a> 
          <a ui-sref="modulo" class="menu-link" ng-show="isAdmin()"><h3>Modulos</h3></a> 
          <!-- <a ui-sref="role.list" class="menu-link"><h3>General</h3></a>            -->
      </accordion-group>
      <accordion-group ng-show="isAdmin()">
          <accordion-heading>
            <i class="fa fa-user fa-lg"></i>
            <span>Seguridad</span>
          </accordion-heading>
          <a ui-sref="user.list" class="menu-link"><h3>Usuarios</h3></a>
          <a ui-sref="role.list" class="menu-link"><h3>Roles</h3></a>
      </accordion-group>
    </accordion>
  </div>    
  <div class="row">
      <button ng-click="logout()" class="button expand">Cerrar Sesi&oacute;n</button>
    </div>
</div>
<div id="searchMenu">            
    <div>
      <h1>Búsqueda Global</h1>
      <div class="small-12 columns text-right menu-panel">
        <a href="#" id="searchMenu-close"><i class="fa fa-close fa-2x"></i></a>
      </div>
    </div>
</div>